meta(charset = 'utf-8')
meta(name='viewport', content="initial-scale=1.0, width=device-width")
link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
link(href="css/style.min.css" type="text/css" rel="stylesheet" )
script(src='js/app.min.js')
title New Test Seregas site