include header.pug
<main>
    section(class="wrap")
        <p>Section 1</p>
    section(class="wrap")
        <p>Section 2</p>
    section(class="wrap")
        <p>Section 3</p>
</main> 
include footer.pug 